<div class="header">
    <div class="container">
        <a class="title">NOVA ADMISSÃO COOPERADO</a>
    </div>
    <div class="container">
        <p class="breadcrumb">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
    </div>
    <div class="header-right">
        <div>
            <i class="far fa-bell" style="font-size: x-large;color: rgb(22, 92, 125); margin-right: 12px;"></i>
        </div>
        <div>
            <button class="btn" style="margin-right: 12px;">VIACREDI</button>
        </div>
        <div>
                <img src="../../assets/empresario.jpg">
        </div>
    </div>
</div>
