.footer {
    display: flex;
    padding: 15px;
    position: fixed;
    left: 4%;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

.btnDica{
    border-color: #165C7D;
    background-color: transparent;
    border: 1px solid;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 22px;
}
.btnDica:hover{
    background-color: #e7eef1;
}

.btnNewAdmit{
    background-color: #165C7D;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
    margin-left: 20px;
    color: white;
}
.btnNewAdmit:hover{
    background-color: #0b2b3a;
}
