<body>
    <form #form="ngForm">
        <div>
            <label>CPF:
                <br>
                <input type="text" placeholder="000.000.000-00" name="Cpf" #Cpf="ngModel" [ngModel]="cpf"
                    (ngModelChange)="cpf=$event" required>
                <span *ngIf="!Cpf.valid && (Cpf.dirty && Cpf.touched)">
                    Informe um CPF Válido!
                </span>
            </label>
            <button (click)="valida(cpf)" style="position: relative; left: 5px;">valida</button>
        </div>
    </form>
</body>