<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened >
        <div class="conteudo">
            <img src="../../assets/ailosLog.png" class="logoAilos"><br>
            <i class="fas fa-bars" style="position: absolute; left:28px; font-size: 25px; color: #eeeeee94;margin-top: 20px;"></i>
            <br>
            <br>
            <i class="fas fa-search" style="position: absolute; left:25px; font-size: 30px;margin-top: 30px;"></i>
            <br>
            <br>
            <i class="far fa-star" style="position: absolute; left:25px; font-size: 30px;margin-top: 50px;"></i>
            <br>
            <br>
            <i class="fas fa-comment-dots" style="position: absolute; left:25px; font-size: 30px;margin-top: 70px;"></i>
            <br>
            <br>
            <i class="fas fa-sliders-h" style="position: absolute; left:25px; font-size: 30px;margin-top: 90px;"></i>
            <br>
            <br>
            <i class="fas fa-university" style="position: absolute; left:25px; font-size: 30px; margin-top: 110px;"></i>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <app-footer [mostraBtn]="mostra"></app-footer>
        <app-conteudo (mostra)="setDado($event)"></app-conteudo>
    </mat-sidenav-content>
</mat-sidenav-container>
  