<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened >
        <img src="../../assets/Sistema-Site.png" class="logoAilos"><br>
        <div style="display: inline-block; align-content: center;">
            <i class="fas fa-bars" style="position: absolute; left:30px; color: #eeeeee94;"></i>
            <br>
            <br>
            <i class="fas fa-search" style="position: absolute; left:30px;"></i>
            <br>
            <br>
            <i class="far fa-star" style="position: absolute; left:30px;"></i>
            <br>
            <br>
            <i class="fas fa-comment-dots" style="position: absolute; left:30px;"></i>
            <br>
            <br>
            <i class="fas fa-sliders-h" style="position: absolute; left:30px;"></i>
            <br>
            <br>
            <i class="fas fa-university" style="position: absolute; left:30px;"></i>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <app-conteudo></app-conteudo>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
  